<!DOCTYPE html>
<html lang='en'>

<head>
    <title>Trader App</title>
    <style>
        nav ul {
            list-style: none;
        }

        a {
            text-decoration: none;
        }
    </style>
</head>

<body>
    <nav>
        <span>
            <h1>Trader App</h1>
        </span>
        <div>
            <ul>
                <li>
                    <a href="/">Home</a>
                </li>
                <li>
                    <a href="/stock">Stock Market</a>
                </li>
                <li>
                    <a href="/portfolio">Portfolio</a>
                </li>
            </ul>
        </div>

        <div>
            Welcome, {{username}}
        </div>
        <div>
            <a href="">Logout</a>
        </div>
    </nav>
    <br>
    <h3>Account Balance: {{balance}}</h3>
    <hr>
    <h2>Dashboard</h2>
    <form action="">
        {% csrf_token %}
        <label for="stockSearch">Symbol:</label>
        <input type="text" placeholder="stock symbol or name..." />
        <button type="submit">Search</button>
    </form>

</body>

</html>