<!DOCTYPE html>
<html lang='en'>

<head>
    <title>Trader App</title>
    <style>
        nav ul {
            list-style: none;
        }

        a {
            text-decoration: none;
        }
    </style>
</head>

<body>
    <nav>
        <span>
            <h1>Trader App</h1>
        </span>
        <div>
            <ul>
                <li>
                    <a href="/">Home</a>
                </li>
                <li>
                    <a href="portfolio">Portfolio</a>
                </li>
                <li>
                    <a href="stock">Stock Ticker</a>
                </li>
            </ul>
        </div>
        
        <div>
            Welcome, {Username}
        </div>
        <div>
            <a href="">Logout</a>
        </div>
    </nav>
    <hr>
    <form action="">
        <label for="stockSearch">Symbol:</label>
        <input type="text" placeholder="stock symbol or name..." />
        <button type="submit">Search</button>
    </form>

</body>

</html>