<!DOCTYPE html>
<html lang='en'>

<head>
    <title>Trader App</title>
    <style>
        nav ul {
            list-style: none;
        }

        a {
            text-decoration: none;
        }

        td,
        th {
            padding: 0px 10px;
            align-content: left;
        }
    </style>
</head>

<body>
    <nav>
        <span>
            <h1>Trader App</h1>
        </span>
        <div>
            <ul>
                <li>
                    <a href="/">Home</a>
                </li>
                <li>
                    <a href="/stock">Stock Market</a>
                </li>
                <li>
                    <a href="/portfolio">Portfolio</a>
                </li>
            </ul>
        </div>

        <div>
            Welcome, {{username}}
        </div>
        <div>
            <a href="">Logout</a>
        </div>
    </nav>
    <br>
    <h3>Account Balance: {{balance}}</h3>
    <hr>

    <h2>Stock Portfolio</h2>
    <table>
        <tr>
            <th>Symbol</th>
            <th>Shares</th>
            <th>Price</th>
            <th>Order Date</th>
        </tr>
        {% for stock in portfolio %}
        <tr>
            <td>{{stock.symbol}}</td>
            <td>{{stock.shares}}</td>
            <td>{{stock.price}}</td>
            <td>{{stock.orderDate}}</td>
        </tr>
        {% endfor %}
    </table>

</body>

</html>